@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***********body*****/
html, body{
  height: 100%;
  box-sizing: border-box;
}
.drag-target{
  display: none;
}
body{ 
  background:  #191919;
  font-family: 'Quicksand', sans-serif;
}
#root{
  height: 100%;
}

.container{
  max-width: initial;
  width: calc(100% - 25%);
  margin-top: 3em;
}
.main-area{
  margin-top: 3em;
}

/****global for card***/
.card{
  background: none;
  box-shadow: none;
}
.card-title{
  color: #fff;
}
.card-content{
  color:#fff;
  padding-bottom: 0px!important;
}
body input:-internal-autofill-selected{
  background: transparent!important;
}
.card-title .center-align{
  font-size: 25px;
}
.pad-top a{
  padding-top: 24px!important;
}
.card .card-content{
  padding: 0px!important;
}

/***nav**/

.navbar .col{
  padding: 0px;
}
.navbar nav{
  text-align: center;
  background: none;
  box-shadow: none;
}

.logo-sec .brand-logo{
    font-size: 20px;
    position: relative;
}
.logo-sec .brand-logo i{
  font-size: 30px!important;
  position: relative;
  top: 5px;
  margin-right: 5px!important;
}
.navbar .side-nav{
  height: 100%;
}
.navbar .side-nav .right span li{  
  height: auto;
  margin: 7px 0px;
  
  justify-content: center;
  display: flex;
}
.full-height{
  height: 100vh;
}
.full-height nav{
  height: 100%;
}
.navbar .side-nav .right span li a{  
  font-size: 12px;
  padding: 0px;
  background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
  border-radius: 50%;
  margin: 10px 0px;
  width: 70px;
  border: 2px solid  #b72020;
  height: 70px;
  padding-top: 15px
}
.navbar .side-nav .right span li{
  transition: all 0.3s linear;
}
.navbar .side-nav .right span li a i{  
  font-size: 18px;
}
.navbar .side-nav .right span li:hover{
  transform: scale(1.1);
}
.navbar .side-nav .right span li:last-child span{  
  font-size: 12px;
  padding: 0px;
  background: linear-gradient(
145deg
, #a51d1d, #c42222);
  box-shadow: 6px 6px 12px #1c1c1c, -6px -6px 12px #262626;
  border-radius: 50%;
  margin: 10px 0px;
  width: 70px;
  border: 2px solid #b72020;
  height: 70px;
  display: block;
}
.navbar .side-nav .right span li:last-child span:hover{ 
    cursor: pointer;
}
.navbar ul.right{
  height: 100%;
  width: 100%;
}
.navbar nav ul li{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar nav ul li a{
  margin: 0px;
  line-height: initial;
  font-size: 13px;
}
.navbar nav ul li a i{
  line-height: initial;
    height: auto;
}
.navbar{
  margin-bottom: 20px;
}
.navbar nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar .right{
  display: flex;
  align-items: center;
}

/******Search Bar****/

.custom-search{
  position: relative;
}
.custom-search input{
  background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
  border-radius: 50px;
  height: 40px;
}
.custom-search label{
  display: none;
}
.custom-search #Search{
  height: 35px;
  border: none;
  padding-left: 20px;
  color:#fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-top: 5px;
}
.custom-search #Search:focus, .custom-search #Search:active{
  border: none;
  outline: none;
  box-shadow: none;
}
.custom-search .material-icons{
  position: absolute;
  right: 20px;
  top: 9px;
  color:#fff;
  font-size: 20px;
}

/*******Main sec******/

.main-sec{
  background: none;
  box-shadow: none;
}
.main-sec .center-align{
  margin-top: 10px;
  color:#fff;
  font-size: 24px;
}

.main-sec .card, .main-sec .card-content{
  padding:0px;
  background: none;
  box-shadow: none;
}
.main-sec .collection{
  border: none;
}
.main-sec .collection .collection-item{
  background: none;
  border: none;
}
.main-sec .collection .collection-item:hover{
  cursor: pointer;
}
.main-sec .collection .collection-item h5{
  color:#fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.main-sec .collection .collection-item span{
  color:#fff;
  font-size: 15px;
}

/****Play Media css**/

.play-media-sec .col {
  padding:0px;
}
.play-media-sec .card-title h4{
  font-size: 26px!important;
  margin-top: 10px;
}
.play-media-sec .card-content{
  padding: 0px 15px;
}


/******media-player***/

.media-player .noUi-connect{
  height: 5px;
  background: #fa9f39;
}
.media-player{
  position: relative;
}
.media-player .noUi-target{
  border-radius: 0px;
  height: 5px;
  background: #e5e5e5;
  box-shadow: none;
  border:none;
  transition: all 0.3s linear;
}
.media-player .noUi-base:hover .noUi-target, .media-player .noUi-base:hover .noUi-connect{
  height: 7px;
  cursor: pointer;
}
.media-player #test-slider {
    height: 4px;
    transition: all 0.3s linear;
}
.media-player #test-slider:hover {
  cursor: pointer;
  height: 7px;
}
.media-player .noUi-horizontal .noUi-handle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:none;
  border: none;
  box-shadow: none;
  transition: all 0.3s linear;
}
.media-player .noUi-horizontal .noUi-handle::before, .media-player .noUi-horizontal .noUi-handle::after{
  display: none;
}
.media-player .noUi-target .noUi-touch-area{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
  border: none;
  box-shadow: none;
}
.media-player .row {
  margin: 0px;
}
.media-player .player-control{
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  padding: 0px 10px;
}
.media-player .player-control button{
  background: transparent;
  box-shadow: none;
}

.media-player .player-control{
  opacity: 1;
  transition: all 0.2s linear;
}
.media-player:hover .player-control{
  opacity: 1;
}
.media-player .player-control .volume .volume-slider{
  padding-top: 16px;
  width:0%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;
}
.media-player .player-control .volume:hover .volume-slider{
  opacity: 1;
  width:50%;
}
.media-player .volume .noUi-target .noUi-touch-area{
  background:#ffab40;
  cursor: pointer;
}
.media-player .volume #test-slider:hover{
  height: 4px!important;
}
.media-player .player-control .volume{
  transition: all 1.00s linear;
}
.media-player .player-control .volume:hover{
  width: 23%!important;
}
.media-player .video-sec{
  max-height: 100%!important;
  height: 100%!important;
}
.media-player .time{
  transition: all 1.00s linear;
}
.media-player .time span{
  padding:7px 0px!important; 
}
.full-screen-sec{
  display: flex;
  justify-content: flex-end;
}

/****related media lis***/
.play-media-sec .related-media-sec{
  margin-left: 5em!important;
}
.related-video-sec h2{
  font-size: 20px;
  text-align: left;
  color:#fff;
  margin-top: 20px;
}
.related-video-sec .card-content .card-title{
  margin-bottom: 5px;
}
.related-video-sec .card-content .card-title h5{
  font-size:14px;
  font-weight: 400;
  color:#fff;
  margin: 0px;
}
.related-video-sec .card-content h6{
  font-size: 12px;
  margin:0px;
  margin-bottom: 10px;
}
.related-video-sec .card-content p{
  font-size: 12px;
  color:#e5e5e5;
}

/*******user publish details**/

.user-publish-details .valign-wrapper img{
  width:50px;
}
.user-publish-details .card-action{
  border: none;
  padding: 0px;
}


/******Add Video Page***/

.add-video-sec .card-title h2{
  font-size: 30px;
  margin: 0px 0px 10px;
}
.add-video-sec .margin-auto{
  float: none!important;
  margin:auto;
}
.add-video-sec .upload-button{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(145deg, #202020, #272727);
box-shadow:  6px 6px 12px #1e1e1e,
             -6px -6px 12px #2a2a2a;
    border:4px solid #b72020;
    float: none;
    padding-top: 10px;
}
 .upload-button i{
  font-size: 25px;
}
 .input-field input,  .input-field textarea{
  border-radius: 37px!important;
  background: linear-gradient(145deg, #1e1e1e, #232323);
  box-shadow:  6px 6px 12px #1c1c1c,
               -6px -6px 12px #262626;
  border:2px solid #b72020!important;
  color:#fff;
  padding-left:20px!important;
}
 .input-field label{
  color:#fff;
  padding-left:20px;
  font-size: 13px;
  font-weight: 500;
  padding-top: 2px;
  transition: all 0.3s linear;
}
.input-field .material-icons{
  font-size: 24px;
  padding-top: 4px;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border:2px solid #b72020;
  box-shadow:  6px 6px 12px #1e1e1e,
             -6px -6px 12px #2a2a2a;
  transition: all 0.3s linear;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color:#b72020!important;
  margin-top:-8px
}
 .error{
  padding-left: 4em;
  transition: all 0.3s linear;
}
.input-field>label:not(.label-icon).active{
  color:#b72020!important;
  margin-top:-8px
}
.input-field .prefix.active{
  color:#b72020;
}
.input-field .label.active{
  color:#b72020;
}
 .card-action{
  border: none!important;
}
 .card-action .submit{
  background: linear-gradient( 
145deg
 , #1e1e1e, #232323);
    box-shadow: 6px 6px 12px #1c1c1c, -6px -6px 12px #262626;
    border: 2px solid #b72020;
    font-size: 14px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 0;
}
.add-video-sec .upload-button i{
  padding: 2px!important;;
}

/******List all videos**/

.video-list .collection-item{
  background: transparent;
  border: none;
}
.collection{
  border: none;
}

/****pagination***/
.custom_pagination{
  float: right;
}
.custom_pagination li{
  width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    background: linear-gradient(
145deg
, #1e1e1e, #232323);
    box-shadow: 6px 6px 12px #1c1c1c, -6px -6px 12px #262626;
    margin-right: 10px;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}
.custom_pagination li a{
  color: #fff;
}
.custom_pagination li.active{
  background: #b72020;
}
.custom_pagination li:hover{
  background: #b72020;
}

/****user profile ***/

.user-profile-sec{
    text-align: center;
}
.user-profile-sec .card .card-image img{
  max-width:120px;
  border-radius: 50%;
background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
  padding:10px;
  margin: auto;
  
}
.user-profile-sec .card-content span{
  font-size: 30px;
  text-transform: capitalize;
}
.user-profile-sec .card-content p{
  font-size: 18px;
}
.user-profile-sec .card-content h6{
  font-size: 13px;
}
.user-profile-sec .card-action{
  border: none;
  padding: 0px;
}
.user-profile-sec .card-action .center-align{
  display: flex;
  justify-content: center;
}
.edit-button{
  background: linear-gradient(145deg, #1e1e1e, #232323);
  box-shadow:  6px 6px 12px #1c1c1c,
               -6px -6px 12px #262626;
}
.edit-button i{
  font-size: 17px;
}
.del-btn button i{
  font-size: 18px;
}
.del-btn button{
  background:#b72020;
  box-shadow:  6px 6px 12px #1c1c1c,
               -6px -6px 12px #262626;
}

/****login Page**/
.new-user-sign{
  color:#fff;
  font-size: 15px;
  margin-top: 20px;
}
.new-user-sign a{
  margin-right: 4px!important;
  color: #b72020 !important;
}

/****modal box***/

.modal {
  background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
    padding:15px;
}
.modal .modal-title h2{
  color:#fff;
  font-size: 25px;
}
.modal-content p{
  color:#fff;
}
.modal-footer{
  background: none!important;
  text-align: center!important;
}
.modal-footer button{ 
  color: #fff;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  margin: 0px 11px!important;
}
.modal-footer button:first-child{ 
  background: linear-gradient(145deg, #1e1e1e, #232323);
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
}
.modal-footer button:last-child{ 
  background: #b72020;
box-shadow:  6px 6px 12px #1c1c1c,
             -6px -6px 12px #262626;
}


/******responsive***/

@media only screen and (max-width: 991px){
  .related-media-sec{
    margin: 0px;
  }
}